
.open-sans-font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .primary-text{
    color: #FD6E0A;
  }
  .btn-primary{
        background-color: #FD6E0A;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 18px 35px;
        font-weight: 600px;
        font-size: 20px;
  }
  header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-color: #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
  list-style: none;
  margin-right: 50px;
}
nav li a{
  text-decoration: none;
  color: var(--Dark-02, #474747);
  font-size: 20px;
  font-weight: 400;
  
}
.nav-title{
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
/* banner related Styles */
.banner{
  display: flex;
  justify-content: space-between;
  margin-left: 230px;
  margin-right: 30px;
  
}
.banner-greetings{
  color: var(--Dark-02, #474747);
  font-size: 45px;
  font-weight: 600;
}
.banner-title{
  color: var(--Dark-01, #181818);
  font-size: 85px;
  font-weight: 700;
}
.banner-description{
  color: var(--Dark-03, #757575);
  font-size: 18px;
  font-weight: 400;
}